<a href="https://colab.research.google.com/github/evertonrca/Data-Science-Studies/blob/main/SQLite%20testes/UtilizandoSQLite_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [81]:
! pip install pysqlite3

Requirement already satisfied: pysqlite3 in /usr/local/lib/python3.7/dist-packages (0.4.5)

In [82]:
#Importando bibliotecas
import sqlite3
import datetime
import random
import time
import os

In [83]:
os.remove('/content/drive/MyDrive/Colab Notebooks/Python/Python-DSA/Cap06/Teste_2.db') if os.path.exists('/content/drive/MyDrive/Colab Notebooks/Python/Python-DSA/Cap06/Teste_2.db') else None

In [84]:
con = sqlite3.connect('/content/drive/MyDrive/Colab Notebooks/Python/Python-DSA/Cap06/Teste_2.db')
cursor = con.cursor()

In [85]:
#função para criar tabela
def criar_tabela(nome_tabela):
  cursor.execute(f'create table {nome_tabela} (Id int primary key not null, Data datetime not null, Venda int not null)')

In [86]:
criar_tabela('teste')

In [87]:
#Inserindo dados aleatórios
insere = 'insert into teste values (?, ?, ?)'

In [88]:
#Verificando os dados
def visualiza_tabela(nome_tabela):
  cursor.execute(f'select * from {nome_tabela}')
  print(f'Tabela: {nome_tabela}\n') 
  return cursor.fetchall()

In [89]:
def insere_dados(ID, DATA, VENDAS):
  cursor.execute(insere, [ID, DATA, VENDAS])
  con.commit()
  return print(f'Dados inseridos:\nId: {ID}\nData: {DATA}\nVendas: {VENDAS}')

In [90]:
for i in range(0,20):
  cursor.execute(insere, [i, datetime.datetime.now(), random.randrange(1000, 5000)])
con.commit()

In [91]:
visualiza_tabela('teste')

Tabela: teste

[(0, '2021-04-04 20:59:51.722827', 1202),
 (1, '2021-04-04 20:59:51.728283', 2176),
 (2, '2021-04-04 20:59:51.728343', 3042),
 (3, '2021-04-04 20:59:51.728361', 2057),
 (4, '2021-04-04 20:59:51.728374', 3505),
 (5, '2021-04-04 20:59:51.728386', 4079),
 (6, '2021-04-04 20:59:51.728399', 3287),
 (7, '2021-04-04 20:59:51.728410', 3769),
 (8, '2021-04-04 20:59:51.728422', 1660),
 (9, '2021-04-04 20:59:51.728434', 2730),
 (10, '2021-04-04 20:59:51.728447', 1665),
 (11, '2021-04-04 20:59:51.728458', 1510),
 (12, '2021-04-04 20:59:51.728469', 3010),
 (13, '2021-04-04 20:59:51.728481', 1751),
 (14, '2021-04-04 20:59:51.728494', 2210),
 (15, '2021-04-04 20:59:51.728506', 2691),
 (16, '2021-04-04 20:59:51.728518', 1532),
 (17, '2021-04-04 20:59:51.728530', 3589),
 (18, '2021-04-04 20:59:51.728542', 2162),
 (19, '2021-04-04 20:59:51.728554', 1913)]

In [92]:
insere_dados(20, datetime.datetime.now(), 3568)

Dados inseridos:
Id: 20
Data: 2021-04-04 20:59:51.762228
Vendas: 3568

In [93]:
visualiza_tabela('teste')

Tabela: teste

[(0, '2021-04-04 20:59:51.722827', 1202),
 (1, '2021-04-04 20:59:51.728283', 2176),
 (2, '2021-04-04 20:59:51.728343', 3042),
 (3, '2021-04-04 20:59:51.728361', 2057),
 (4, '2021-04-04 20:59:51.728374', 3505),
 (5, '2021-04-04 20:59:51.728386', 4079),
 (6, '2021-04-04 20:59:51.728399', 3287),
 (7, '2021-04-04 20:59:51.728410', 3769),
 (8, '2021-04-04 20:59:51.728422', 1660),
 (9, '2021-04-04 20:59:51.728434', 2730),
 (10, '2021-04-04 20:59:51.728447', 1665),
 (11, '2021-04-04 20:59:51.728458', 1510),
 (12, '2021-04-04 20:59:51.728469', 3010),
 (13, '2021-04-04 20:59:51.728481', 1751),
 (14, '2021-04-04 20:59:51.728494', 2210),
 (15, '2021-04-04 20:59:51.728506', 2691),
 (16, '2021-04-04 20:59:51.728518', 1532),
 (17, '2021-04-04 20:59:51.728530', 3589),
 (18, '2021-04-04 20:59:51.728542', 2162),
 (19, '2021-04-04 20:59:51.728554', 1913),
 (20, '2021-04-04 20:59:51.762228', 3568)]

In [94]:
con.close()